### Fake dataset

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd

In [3]:
import os
os.chdir('/content/gdrive/My Drive/Year 3/Principle Of Database Management/Project/')

In [ ]:
!pwd

/content/gdrive/MyDrive/Year 3/Principle Of Database Management/Project

In [4]:
!ls

'College Data Management Proposal.docx'  'Proposal for format'
 department_table.csv			 'Schema & ER Diagram'
 enrollment.csv				  students.csv
'Generate Fake data.ipynb'		  subject_new.csv
 instructors.csv			  subjects.csv
 major_table.csv			  subject_table.csv
'Planning Idea for Project.gdoc'

In [ ]:
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-17.0.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-17.0.0

In [ ]:
from faker import Faker
import random

fake = Faker()

def generate_student_id():
    """
    Generate a student ID with the format {department}{major}{school abbreviation}{year}{random number}
    """
    department_dict = {
    "IT": ["DS", "CE", "CS", "NE"], "BA": ["BA", "HM", "IB", "MK"], "BT": ["AR", "BT", "FT"],
    "CE": ["CE", "CM"], "EE": ["EE", "AC"], "EN": ["EN"], "IE": ["IE","LS"], "PH": ["SE"],
    }

    department = random.choice(list(department_dict.keys()))

    # choose a random value from the list associated with the random key
    major = random.choice(department_dict[department])

    school_abbreviation = "IU"
    year = fake.random_int(min=19, max=22)
    random_number = fake.random_int(min=100, max=2000)
    return f"{department}{major}{school_abbreviation}{year}{random_number}"

def generate_student_data(num_students):
    students = []
    for i in range(num_students):
        student_id = generate_student_id()
        major = student_id[2:4]
        department = student_id[:2]
        dob = fake.date_of_birth(minimum_age = 18, maximum_age = 21)
        # gender = fake.random_element(elements=('Male', 'Female'))
        students.append([student_id, fake.first_name() + " " + fake.last_name(), dob,fake.email(), department, major])
    return students

def generate_instructor_data(num_instructors):
    instructors = []
    for i in range(1, num_instructors+1):
        department_dict = {"IT": ["School of Computer Science and Engineering"], "BA" : ["School of Business"], "EFA" : ["School of Economics, Finance and Accounting"],
                           "EE" : ["School of Electrical Engineering"], "BT" : ["School of Biotechnology"], "IE" : ["School of Industrial Engineering and Management"], 
                           "CE" : ["School of Civil Engineering and Management"], "EN" : ["School of Languages"], "MA" : ["Department of Mathematics"],
                           "PH" : ["Department of Physics"] }
        department_id = random.choice(list(department_dict.keys()))
        department = random.choice(department_dict[department_id])

        random_position = random.choices(["Dean", "Vice Dean", "Lecture"], weights = [0.05,0.1,0.85], k = 1)
        position = random_position[0]
        dob = fake.date_of_birth(minimum_age = 27, maximum_age = 59)

        instructors.append(["INS" + str(i), fake.first_name() + " " + fake.last_name(), dob,fake.email(), department, department_id, position])
    return instructors

# def generate_course_data(num_subjects, courses):
#     subjects = []
#     for i in range(num_subjects):
#         subjects.append([i, fake.job(), random.choice([x[0] for x in courses])])
#     return subjects

def generate_subjects_data(num_courses, instructors):
    subjects = []
    for i in range(num_courses):
        number_of_students = random.choice([30, 40, 50, 60, 80, 100])
        subjects.append([random.choice([x[5] for x in instructors]) + str(i) + "IU", fake.bs(), fake.random_int(min=1, max=4), random.choice([x[1] for x in instructors]), number_of_students])
    return subjects


def generate_registration_data(num_registrations, students, subjects):
    registrations = []
    for i in range(1, num_registrations+1):
        registrations.append([i, random.choice([x[0] for x in students]), random.choice([x[0] for x in subjects]) , fake.date_this_decade()])
    return registrations


students = generate_student_data(1000)
instructors = generate_instructor_data(100)
subjects = generate_subjects_data(100, instructors)
courses = pd.read_csv("major_table.csv")
registrations = generate_registration_data(500, students, subjects)

In [ ]:
import csv

def write_to_csv(data, file_name):
    with open(file_name, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerows(data)

write_to_csv(students, 'students.csv')

In [ ]:
import csv

# Open the CSV file
with open("students.csv", "r") as file:
    reader = csv.reader(file)
    
    # Loop over the rows in the CSV file
    for row in reader:
        print(row)

In [ ]:
df_students = pd.read_csv("students.csv", header = None)
df_students.columns = ["Student_ID", "Full_Name" , "DOB","E-Mail","Department_ID", "Major"]

In [ ]:
df_students.head(10)

,Student_ID,Full_Name,DOB,E-Mail,Department_ID,Major
0,ITNEIU211622,Darren Snyder,2004-07-12,alexisnelson@example.com,IT,NE
1,ENENIU211386,Martin Nunez,2002-03-16,robertsonkaitlyn@example.net,EN,EN
2,ITCSIU211240,Christina Hodge,2003-12-29,brianbuckley@example.org,IT,CS
3,CECMIU211087,Eileen Cole,2003-05-12,stricklandkimberly@example.org,CE,CM
4,ITCSIU19511,Jerry Snyder,2005-01-20,randypope@example.net,IT,CS
5,ITCSIU201466,Tracie Craig,2003-09-18,sward@example.net,IT,CS
6,BTARIU211248,Gregory Fernandez,2004-08-23,megan37@example.net,BT,AR
7,CECMIU201845,Sara Gomez,2003-11-28,ireed@example.com,CE,CM
8,ENENIU21762,Jessica Mitchell,2003-01-15,terrence76@example.com,EN,EN
9,CECEIU191894,Tyler Mitchell,2004-05-11,gvelasquez@example.org,CE,CE

In [ ]:
df_students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Student_ID        1000 non-null   object
 1   First_Name        1000 non-null   object
 2   Last_Name         1000 non-null   object
 3   E-Mail            1000 non-null   object
 4   Department Abbre  1000 non-null   object
 5   Major             1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

In [ ]:
import csv

def write_to_csv(data, file_name):
    with open(file_name, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerows(data)

write_to_csv(instructors, 'instructors.csv')

In [ ]:
df_instructors = pd.read_csv("instructors.csv", header = None)
df_instructors.columns = ["Instructor_ID", "Full_Name", "DOB","E-Mail", "Department", "Department_ID","Position"]

In [ ]:
df_instructors.head(5)

,Instructor_ID,Full_Name,DOB,E-Mail,Department,Department_ID,Position
0,INS1,Jacob Daniels,1966-09-25,patrickgarcia@example.com,School of Computer Science and Engineering,IT,Lecture
1,INS2,Wendy Ward,1979-09-08,ilang@example.com,School of Civil Engineering and Management,CE,Vice Dean
2,INS3,Susan Keller,1964-01-02,denisedalton@example.com,School of Civil Engineering and Management,CE,Lecture
3,INS4,Kristen Weiss,1970-01-05,catherineobrien@example.com,Department of Mathematics,MA,Lecture
4,INS5,Kayla Crosby,1985-08-06,danaadkins@example.com,School of Civil Engineering and Management,CE,Lecture

In [ ]:
import csv

def write_to_csv(data, file_name):
    with open(file_name, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerows(data)

write_to_csv(subjects, 'subjects.csv')

In [ ]:
df_subjects = pd.read_csv("subjects.csv", header = None)
df_subjects.columns = ["Subject_ID", "Subject_Name", "Credit", "Instructor_Name", "Quantity"]

In [ ]:
df_subjects.head(5)

,Subject_ID,Subject_Name,Credit,Instructor_Name,Quantity
0,BT0IU,synergize virtual users,4,Amy Griffin,50
1,EFA1IU,brand transparent communities,4,Robert Riley,100
2,CE2IU,scale impactful e-business,2,Anne Taylor,30
3,EN3IU,enable interactive convergence,2,Angela Strickland,40
4,EFA4IU,productize open-source relationships,2,Kenneth Brown,50

In [9]:
df_major = pd.read_csv("major_table.csv")
df_major.head()

,major_id,major_name,department_ id,department_name
0,MA,Applied Mathematics,MA,Department of Mathematics
1,AR,Aquatic Resource Management,BT,School of Biotechnology
2,EN,Arts in English Linguistics and Literature,EN,School of Languages
3,BT,BioTechnology,BT,School of Biotechnology
4,BA,Business Management,BA,School of Business

In [ ]:
import csv

def write_to_csv(data, file_name):
    with open(file_name, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerows(data)

write_to_csv(registrations, 'enrollment.csv')

In [ ]:
df_enrollment = pd.read_csv("enrollment.csv")
df_enrollment.columns = ["ID", "Student ID", "Course ID", "Date"]

In [ ]:
df_enrollment.head(5)

   ID    Student ID Course ID        Date
0   2   PHSEIU20243   IE154IU  2022-05-31
1   3  EEEEIU211641    PH45IU  2020-03-30
2   4   ITNEIU19668   IT178IU  2020-12-20
3   5   CECEIU19730   EE130IU  2022-09-20
4   6  ENENIU211301  EFA169IU  2020-04-12

In [ ]:
random.choice([x[5] for x in instructors])

'BA'

In [ ]:
import random

In [ ]:
subject_table = pd.read_csv("subject_table.csv", encoding= 'unicode_escape')
subject_table["Instructor_Name"] = [random.choice([x[1] for x in instructors]) for i in range(len(subject_table))]

In [ ]:
subject_table.head(25)

,Subject_ID,Subject_Name,Credit,Department_ID,Instructor_Name
0,BA003IU,Principles of Marketing,3,BA,Deborah Hill
1,BA005IU,Financial Accounting,3,BA,Charles Johnson
2,BA006IU,Business Communication,3,BA,Dale Torres
3,BA016IU,Fundamental of Financial Management,3,BA,Mercedes Kelly
4,BA018IU,Quality Management,3,BA,Cynthia Parker
5,BA020IU,Business Ethics,3,BA,Mike Patrick
6,BA022IU,Logistic and Supply Chain Management,3,BA,Ashley Burns
7,BA023IU,Project Management,3,BA,Mario Kidd
8,BA027IU,E - Commerce,3,BA,Jesse Ramirez
9,BA032IU,Sales Management,3,BA,Aaron Levy
10,BA038IU,Customer Service Management,3,BA,William King
11,BA051IU,International Financial Management,3,BA,William King
12,BA068IU,International Economics,3,BA,Tina Perez
13,BA080IU,Statistics for Business,3,BA,Brian Jordan
14,BA081IU,Business Law,3,BA,Kristen Hill
15,BA098IU,Leadership,3,BA,Donna Smith
16,BA115IU,Introduction to Business Administration,3,BA,Deborah Hill
17,BA117IU,Introduction to Micro Economics,3,BA,Johnny Mays
18,BA118IU,Introduction to Psychology,3,BA,Hannah White
19,BA119IU,Introduction to Macro Economics,3,BA,Mike Patrick
20,BA120IU,Business Computing Skills,3,BA,Kristen Weiss
21,BA123IU,Principles of Management,3,BA,Alexis Valencia
22,BA130IU,Organizational Behavior,3,BA,Rachel Johnson
23,BA140IU,Business Game,3,BA,Alan Moore
24,BA150IU,Special Study,3,BA,William Perkins

In [ ]:
subject_table.to_csv('subject_new.csv', index=False)

In [7]:
department = pd.read_csv("department_table.csv")
department

  department_id                                       department  year
0            BA                               School of Business  2003
1            BT                          School of Biotechnology  2017
2            CE       School of Civil Engineering and Management  2021
3            EE                 School of Electrical Engineering  2004
4            EN                              School of Languages  2017
5            IE  School of Industrial Engineering and Management  2009
6            IT       School of Computer Science and Engineering  2004
7            MA                        Department of Mathematics  2013
8            PH                            Department of Physics  2016